name: Android BrowserStack Tests

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'binding/android/FalconTestApp/**'
      - '.github/workflows/android-browserstack.yml'
      - 'resources/audio_samples/**'
      - 'script/automation/browserstack.py'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'binding/android/FalconTestApp/**'
      - '.github/workflows/android-browserstack.yml'
      - 'resources/audio_samples/**'
      - 'script/automation/browserstack.py'

defaults:
  run:
    working-directory: binding/android/FalconTestApp

jobs:
  build:
    name: Run Android Tests on BrowserStack
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Installing Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run:
          pip3 install requests

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

############## REMOVE AFTER RELEASE ##########################
      - name: Build binding
        run: ./gradlew assembleRelease --info
        working-directory: binding/android/Falcon
############## REMOVE AFTER RELEASE ##########################

      - name: Copy test_resources
        run: ./copy_test_resources.sh

      - name: Inject AccessKey
        run: echo pvTestingAccessKey="${{secrets.PV_VALID_ACCESS_KEY}}" >> local.properties

      - name: Inject Android keystore variables
        run: |
          echo storePassword="${{secrets.ANDROID_RELEASE_KEYSTORE_PASSWORD}}" >> local.properties
          echo keyPassword="${{secrets.ANDROID_RELEASE_KEYSTORE_PASSWORD}}" >> local.properties
          echo keyAlias=picovoice >> local.properties
          echo storeFile=../picovoice.jks >> local.properties

      - name: Inject Device
        run: echo device="cpu" >> local.properties

      - name: Setup Android keystore file
        run: echo "${{secrets.ANDROID_RELEASE_KEYSTORE_FILE_B64}}" | base64 -d > picovoice.jks

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build app
        run: ./gradlew assembleDebug

      - name: Build androidTest
        run: ./gradlew assembleDebugAndroidTest

      - name: Run tests on BrowserStack
        run: python3 ../../../script/automation/browserstack.py
          --type espresso
          --username "${{secrets.BROWSERSTACK_USERNAME}}"
          --access_key "${{secrets.BROWSERSTACK_ACCESS_KEY}}"
          --project_name "Falcon-Android"
          --devices "android-min-max"
          --app_path "falcon-test-app/build/outputs/apk/debug/falcon-test-app-debug.apk"
          --test_path "falcon-test-app/build/outputs/apk/androidTest/debug/falcon-test-app-debug-androidTest.apk"

  build-integ:
    name: Run Android Integration Tests on BrowserStack
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Installing Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run:
          pip3 install requests

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

############## REMOVE AFTER RELEASE ##########################
      - name: Build binding
        run: ./gradlew assembleRelease --info
        working-directory: binding/android/Falcon
############## REMOVE AFTER RELEASE ##########################

      - name: Copy test_resources
        run: ./copy_test_resources.sh

      - name: Inject AccessKey
        run: echo pvTestingAccessKey="${{secrets.PV_VALID_ACCESS_KEY}}" >> local.properties

      - name: Inject Android keystore variables
        run: |
          echo storePassword="${{secrets.ANDROID_RELEASE_KEYSTORE_PASSWORD}}" >> local.properties
          echo keyPassword="${{secrets.ANDROID_RELEASE_KEYSTORE_PASSWORD}}" >> local.properties
          echo keyAlias=picovoice >> local.properties
          echo storeFile=../picovoice.jks >> local.properties

      - name: Inject Device
        run: echo device="cpu" >> local.properties

      - name: Setup Android keystore file
        run: echo "${{secrets.ANDROID_RELEASE_KEYSTORE_FILE_B64}}" | base64 -d > picovoice.jks

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build app
        run: ./gradlew assembleRelease

      - name: Build androidTest
        run: ./gradlew assembleReleaseAndroidTest -DtestBuildType=integ

      - name: Run tests on BrowserStack
        run: python3 ../../../script/automation/browserstack.py
          --type espresso
          --username "${{secrets.BROWSERSTACK_USERNAME}}"
          --access_key "${{secrets.BROWSERSTACK_ACCESS_KEY}}"
          --project_name "Falcon-Android-Integration"
          --devices "android-min-max"
          --app_path "falcon-test-app/build/outputs/apk/release/falcon-test-app-release.apk"
          --test_path "falcon-test-app/build/outputs/apk/androidTest/release/falcon-test-app-release-androidTest.apk"
